{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section w-40 p-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="no-asterisk">
                <div class="mb-3">
                    <legend class="h2 text-center pb-2 border-bottom border-secondary">{{ pizza.name }}</legend>
                    <small class="text-muted">{{ pizza.ingredients }}</small>
                </div>
                {{ form|crispy }}
            </fieldset>
            <div class="text-center">
                <a class="btn btn-light button-border" href="{% url 'menu' %}" role="button">Back</a>
                <button type="submit" class="btn btn-light button-border">Add</button>
            </div>
        </form>
    </div>
{% endblock %}