{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section m-auto">
        {% if order %}
            <table class="table table-striped table-spacing border-dark">
                <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order %}
                    <tr>
                        <td>
                            <div class="pizza-name">{{ order_item.name }}</div>
                            <div class="pizza-ingredients">{{ order_item.ingredients }}</div>
                        </td>
                        <td class="align-middle text-center">({{ order_item.size }}, {{ order_item.crust }})</td>
                        <td class="align-middle text-center">{{ order_item.quantity }}</td>
                        <td class="align-middle text-center">{{ order_item.price|floatformat:2 }} PLN</td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-theme">Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Total price of the order: {{ order_total_price|floatformat:2 }} PLN</p>
            <div class="text-center">
                <a class="btn btn-light button-border" href="{% url 'order_confirm' %}" role="button">Make an order</a>
            </div>
        {% else %}
            <p>Your order is empty</p>
        {% endif %}
    </div>
{% endblock %}