{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="h2 text-center mb-3 pb-2 border-bottom border-secondary">Sign Up</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-light button-border">Sign up</button>
        </div>
        <div class="text-center mt-3 pt-2 border-top border-secondary">
            <small class="text-muted">
                Already have an account? <a href="{% url 'password_reset' %}">Sign in</a>
            </small>
        </div>
    </form>
{% endblock %}