body {
    font-family: Verdana, sans-serif;
}

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ee403a;
    border-right: 2px dotted white;
}

.sidebar ul li a{
    text-align: center;
    font-size: 32px;
    color: white;
}

.sidebar ul li:hover {
    background-color: white;
}

.sidebar ul li:hover a {
    color: #ee403a;
}

.btn-theme {
    color: white;
    background-color: #ee403a;
    border-color: #ee403a;
}

.btn-theme:focus {
    outline: none;
    box-shadow: none;
}

.bg-pizza {
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    background-image: url('pizza.jpg');
}

.bg-content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fdb454;
}

.content-section {
    background-color: wheat;
    border-radius: 15px;
    margin: auto
}

.button-border, .button-border:hover {
    border: 1px solid #ced4da
}

.field-row {
    display: flex;
    column-gap: 1em;
}

.table th {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
}

.table td {
    padding: 1em;
}

.pizza-name {
    font-weight: bold;
    font-size: 21px;
}

.pizza-ingredients {
    font-size: 14px;
}

.no-asterisk .asteriskField {
    display: none;
}

.w-90 {
    width: 90%;
}

.w-40 {
    width: 40%;
}