body {
    font-family: Verdana, sans-serif;
}

.bg-sidebar {
    background-color: #ee403a;
}

.bg-content {
    background-color: #fdb454;
}

.bg-pizza {
    background-image: url('pizza.jpg');
    background-repeat: no-repeat;
}

.btn-theme {
    color: white;
    background-color: #ee403a;
    border-color: #ee403a;
}

.btn-theme:focus {
    outline: none;
    box-shadow: none;
}

.sidebar-border {
    border-right: 2px dotted white;
}

.sidebar-text li a{
    text-align: center;
    font-size: 32px;
    color: white;
}

.sidebar-text li:hover {
    background-color: white;
}

.sidebar-text li:hover a {
    color: #ee403a;
}

.content-section {
    background-color: wheat;
    border-radius: 15px;
    padding: 20px;
}

.pizza-name {
    font-weight: bold;
    font-size: 21px;
}

.pizza-ingredients {
    font-size: 14px;
}