* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: Verdana, sans-serif;
}

#menu {
    flex: 1;
    background-color: #ee403a;
    max-width: 20%;
    padding-top: 30px;
    border-right: 2px dotted white;
}

#logo {
    max-width: 100%;
}

#menu-list {
    padding-top: 40px;
    text-align: center;
}

#content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdb454;
    max-width: 55%;
    padding: 50px 50px 0 50px;
}

#pizza {
    background-color: #061d23;
    max-width: 25%;
    border-left: 2px dotted white;
}

.option {
    display: block;
    font-size: 32px;
	padding: 10px;
    color: white;
    text-decoration: none;
}

.option:hover {
	background-color: white;
    color: #ee403a;
}

.form-box {
    background-color: #ee403a;
    color: white;
    border: 2px dotted white;
    font-size: 22px;
    padding: 15px;
}

.form-box input:focus {
    outline: none;
}

.input-text {
    width: 300px;
    height: 25px;
    padding: 0px 4px
}

.input-submit {
    width: 100px;
    height: 28px;
    font-size: 16px;
}

#menu-card {
    background-color: wheat;
    border-radius: 15px;
}

#menu-card th, td {
    padding: 17px;
}

.pizza-name {
    width: 600px;
    font-weight: bold;
    font-size: 21px;
}

.pizza-ingredients {
    padding-top: 3px;
    font-size: 12px;
}

.price-button {
    background-color: #ee403a;
    color: white;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}
