{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CircularPi</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="menu">
            <img id="logo" src="{% static 'logo.jpeg' %}"/>
            <div id="menu-list">
                <a class="option" href="/order/">Order</a>
			    <a class="option" href="/menu/">Menu</a>
			    <a class="option" href="/promotions/">Promotions</a>
			    <a class="option" href="/restaurants/">Restaurants</a>
			    <a class="option" href="/aboutus/">About us</a>
                <a class="option" href="/register/">Register</a>
                <a class="option" href="/login/">Login</a>
            </div>
        </div>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
        <img id="pizza" src="{% static 'pizza.jpeg' %}"/>
    </body>
</html>